<h2>Hello world! 這是 index</h2>

<a href="/detail" button type="button" class="btn btn-primary">detail</button>

  <a href="/edit" button type="button" class="btn btn-secondary">edit</button>

    <a href="/login" button type="button" class="btn btn-success">login</button>

      <a href="/new" button type="button" class="btn btn-danger">new</button>

        <a href="/register" button type="button" class="btn btn-warning">register</button>